<div class="courses-categories-slides owl-carousel owl-theme">
    <div class="single-categories-courses-box mb-30">
        <div class="icon">
            <i class='bx bx-code-alt'></i>
        </div>
        <h3>Web Development</h3>
        <span>création d’un site web vitrine, e-commerce ou dynamique, un développement sur mesure.</span>
        <a routerLink="/" class="link-btn"></a>
    </div>

    <div class="single-categories-courses-box mb-30">
        <div class="icon">
            <i class='bx bx-camera'></i>
        </div>
        <h3>PRODUCTION AUDIOVISUELLE </h3>
        <span>Production de vidéos, capsules, films et autres réalisations audio-visuelles</span>
        <a routerLink="/" class="link-btn"></a>
    </div>

    <div class="single-categories-courses-box mb-30">
        <div class="icon">
            <i class='bx bx-layer'></i>
        </div>
        <h3>DESIGN GRAPHIQUE</h3>
        <span>Des chartes éditoriales et graphiques efficaces,</span>
        <a routerLink="/" class="link-btn"></a>
    </div>

    <div class="single-categories-courses-box mb-30">
        <div class="icon">
            <i class='bx bxs-flag-checkered'></i>
        </div>
        <h3>ÉVÉNEMENTIEL</h3>
        <span>Meeting et Séminaires ,Lancement de produit,  Soirées, Foires et salons,Team Building, évènement hybride</span>
        <a routerLink="/" class="link-btn"></a>
    </div>

    <div class="single-categories-courses-box mb-30">
        <div class="icon">
            <i class='bx bx-health'></i>
        </div>
        <h3>RELATIONS PRESSE</h3>
        <span>Médiatisation, télévisuelle, radiophonique ou encore à travers le web ou les canaux classiques.

        </span>
        <a routerLink="/" class="link-btn"></a>
    </div>

    <div class="single-categories-courses-box mb-30">
        <div class="icon">
            <i class='bx bx-line-chart'></i>
        </div>
        <h3>MARKETING DIGITAL</h3>
        <span>optimisation du trafic, référencement naturel et payant, community management, Inbound marketing </span>
        <a routerLink="/" class="link-btn"></a>
    </div>
</div>