
<app-header-style-one></app-header-style-one>



<div class="page-title-area item-bg1 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Acceuil</a></li>
                <li><a href="courses-2-columns-style-1.html">Marketing Digital</a></li>
               
            </ul>
            <h3>Marketing Digital</h3>
        </div>
    </div>
</div>

<section class="courses-details-area pt-100 pb-70">
    <div class="container">
        <div class="courses-details-header">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="courses-title">
                        <h2>Marketing Digital</h2>
                       
                    </div>

                    
                </div>

                
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="courses-details-image text-center">
                    <img src="assets/img/courses/courses2.jpg" alt="image">
                </div>

                <div class="courses-details-desc">
                    <h3>Déscription</h3>
                    
                    <p> L’agence <strong>IBComProd</strong> vous accompagne  dans le développement de votre stratégie de visibilité et de notoriété sur le Web grâce à des solutions digitales sur-mesure et adaptées à vos besoins : <strong>SEO</strong>, <strong>SEA</strong>,<strong> Social Media</strong>, <strong>Community management</strong>,<strong> Inbound Marketing </strong>et<strong> Motion Design</strong>.</p>
                    
                    
                    
                    
                    <h3>Titre</h3>
                    <p>Notre équipe aux multiples talents vous accompagne à chaque étape de votre projet digital.
                        Découvrez sans plus tarder nos prestations et démarquez-vous!</p>
                    
                    
                    
                    
                   
                    <ul class="description-features-list">
                        <li><strong>Community Management</strong> – Nous assurons la gestion de vos réseaux sociaux attentivement, pour démarquer vos pages de la masse de contenus présents sur internet toute en assurant une interactivité rapide et intelligente avec votre communautés .</li>
                        <li><strong>Référencement Web</strong> – L’équipe digital vous permet d’augmenter le trafic de vos sites par des techniques SEO , 100% efficaces et à convertir également les visiteurs en leads. Elle examine le contenu, les mots clés et la structure des pages web codées afin de garantir un positionnement efficace sur les moteurs de recherche.</li>
                        <li><strong>Stratégie Digitale</strong> – Pour déployer une  stratégie digitale pertinente , notamment sur les réseaux sociaux IBComProd vous aide à définir vos objectifs, à identifier vos cibles et de même de piloter votre stratégie social media : ligne éditoriale, audit, benchmark concurrentiel et insights marché.</li>
                        
                    </ul>
                

                   
                </div>
                
                
            </div>

            <div class="col-lg-4">
                <div class="courses-sidebar-information">
                    <ul>
                        <li>
                            <span><i class='bx bx-group'></i> Students:</span>
                            10
                        </li>
                        <li>
                            <span><i class='bx bx-time'></i> Length:</span>
                            1 Weeks
                        </li>
                        <li>
                            <span><i class='bx bx-tachometer'></i> Effort:</span>
                            2–5 hours per week
                        </li>
                        <li>
                            <span><i class='bx bxs-institution'></i> Institution:</span>
                            <a href="#" target="_blank" class="d-inline-block">ABC</a>
                        </li>
                        <li>
                            <span><i class='bx bxs-graduation'></i> Subject:</span>
                            Design
                        </li>
                        <li>
                            <span><i class='bx bx-atom'></i> Quizzes:</span>
                            Yes
                        </li>
                        <li>
                            <span><i class='bx bxs-badge-check'></i> Level:</span>
                            Introductory
                        </li>
                        <li>
                            <span><i class='bx bx-support'></i> Language:</span>
                            English
                        </li>
                        <li>
                            <span><i class='bx bx-text'></i> Video Subtitle:</span>
                            English
                        </li>
                        <li>
                            <span><i class='bx bx-certification'></i> Certificate:</span>
                            Yes
                        </li>
                    </ul>
                </div>

                

               
            </div>
        </div>
    </div>
</section>


<section class="gallery-area pt-100 pb-70">
    <div class="container"> 
        <div class="col-lg-8">
            <div class="courses-title">
                <h2>Notre travail</h2>
               
            </div>
        </div>
        <div class="row pt-70 pb-50">
           
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/gallery/gallery1.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery1.jpg">
                </div>
            </div>

            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/gallery/gallery2.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery2.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/gallery/gallery3.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery3.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/gallery/gallery4.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery4.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/gallery/gallery5.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery5.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/gallery/gallery6.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery6.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/gallery/gallery7.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery7.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/gallery/gallery8.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery8.jpg">
                </div>
            </div>

            
        </div>
    </div>
</section>
<section class="contact-area pb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title"><strong>Demande de devis</strong></span>
            <h4>Maintenant parlons de votre projet !</h4>
            
        </div>

        <div class="contact-form">
            <form id="contactForm">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Téléphone">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input type="text" name="devis" id="devis" class="form-control" placeholder="Devis">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <textarea name="message" class="form-control" id="message" cols="30" rows="5" placeholder="Demande"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn"><i class='bx bx-paper-plane icon-arrow before'></i><span class="label">OK</span><i class="bx bx-paper-plane icon-arrow after"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="particles-js-circle-bubble-3"></div>
    <div class="contact-bg-image"><img src="assets/img/map.png" alt="image"></div>

   
</section>