<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Contact Us</h3>

                    <ul class="contact-us-link">
                        <li>
                            <i class='bx bx-map'></i>
                            <a href="#" target="_blank">28, Rue 8600 Z.I. La Charguia I 2035, Site archéologique de Carthage، 1 2035</a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="tel:+216 95 777 154 ">+216 95 777 154 </a>
                        </li>
                    <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="tel:+216 31 196 056 ">+216 31 196 056 </a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="mailto:hello@ednuv.com">contact@ibcomprod.com</a>
                        </li>
                    </ul>

                    <ul class="social-link">
                        <li><a href="https://www.facebook.com/ibcom.agency" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCACJPhuXfwx6FmLxoJCDXMg" class="d-block" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                        <li><a href="https://www.instagram.com/ibcom.agency/?hl=fr" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/ibcom-prod-1735b7179/" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="https://ibcomprod.com/" class="d-block" target="_blank"><i class='bx bxl-google'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Support</h3>

                    <ul class="support-link">
                        <li><a routerLink="/">Privacy</a></li>
                        <li><a routerLink="/">FAQ's</a></li>
                        <li><a routerLink="/">Support</a></li>
                        <li><a routerLink="/">Terms</a></li>
                        <li><a routerLink="/">Condition</a></li>
                        <li><a routerLink="/">Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Useful Link</h3>

                    <ul class="useful-link">
                        <li><a routerLink="/">Relations Presse et Publiques</a></li>
                        <li><a routerLink="/">Production Audiovisuelle</a></li>
                        <li><a routerLink="/">Marketing Digital</a></li>
                        <li><a routerLink="/">Evénementiel</a></li>
                        <li><a routerLink="/">Développement Web</a></li>
                        <li><a routerLink="/">Design Graphique</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Newsletter</h3>

                    <div class="newsletter-box">
                        <p>To get the latest news and latest updates from us.</p>
                        <form class="newsletter-form">
                            <label>Your e-mail address:</label>
                            <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom-area">
        <div class="container">
            <div class="logo">
                <a routerLink="/" class="d-inline-block"></a>
            </div>
            <p><i class='bx bx-copyright'></i>2022 <a routerLink="/" target="_blank">IBComProd</a>  <a href="https://ibcomprod.com/" ></a> | All rights reserved.</p>
        </div>
    </div>
</footer>

<div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>
